.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
    height: 60px;

}
.nando{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transition: transform 0.7s ease;
}
.nando:hover {
    transform: scale(1.1); 
    cursor: pointer;
}
.navbar .profile{
    width: 40px;
}